<div class="well">
  <%= form_for @item, html: { multipart: true, class: 'form-horizontal' } do |f| %>
    <% if @instagram_images %>
      <h5>Here are your most recent Instagram images. If one 
        of them is an image of your item, select it below. Otherwise, you can browse from your computer. </h5>
      <% @instagram_images.each do |image| %>
        <%= f.radio_button(:picture, image.standard_resolution.url) %> 
        <img src="<%=image.thumbnail.url %>" data-value="image_value" class="img-polaroid">
      <% end %>
    <% end %>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <%= f.label :category %>
          <%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] } %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>
        <div class="form-group">
          <%= f.fields_for :item_images do |builder| %>
            <%= builder.label :image, "Image File" %>
            <%= builder.file_field :image %>
          <% end %>
        </div>
        <div class="form-group">
          <%=f.label :starting_price %>
          <%= f.text_field :starting_price %>
        </div>

        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>

        <%= f.submit nil, class: "btn btn-default" %>
      </div><!-- col-md-4 -->
    </div><!-- row -->
  <% end %>
</div>
