

<h1>Put your item on your curb.</h1>
<br>
<br>
<%= form_for @item, :html => { :multipart => true } do |f|  %>

<% if !@instagram_images.nil? %>
	<h5>Here are your most recent Instagram images. If one 
		of them is an image of your item, select it below. Otherwise, you can browse from your computer. </h5>
	<% @instagram_images.each do |image_url| %>
	<%= f.radio_button(:picture, image_url) %> 
	<img src="<%=image_url %>" data-value="image_value" class="img-polaroid">
	<% end %>
<% end %>
	
	<div>
		<%= f.label :category %>
		<%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] } %>
	<div>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	<input type='hidden' id='item_user_id' name='item[user_id]' value="<%= @user_id %>">
	<div>
 		<%= f.fields_for :item_images do |builder| %>

          <%= builder.label :image, "Image File" %>
          <%= builder.file_field :image %>
        <% end %> 

	</div>
	<div>
		<%=f.label :starting_price %>
		<%= f.text_field :starting_price %>
	</div>

	<div>
		<%= f.label :city %>
		<%= f.text_field :city %>
	</div>

	<%= f.submit 'Put item on your curb'%>
<% end %>	