
<%= link_to "Add more categories", new_category_path %>
<ul class="nav nav-pills">
  <li class="<%= 'active' if params[:category_id].blank? %>">
    <%= link_to "All", shopping_path %>
  </li>
  <% @categories.each do |category| %>
  	<li class="<%= 'active' if params[:category_id] == category.id.to_s %>"> <%=link_to "#{category.name}", :category_id => category.id %></li>
  <% end %>
</ul>
<div id="wrapper">
	<div id="columns">
<% @items.each do |item| %>
	<div class="pin">
		<img src="<%=item.imageDisplay %>" />
		<p>
		<%= item.description %><br>
		<%= item.city %><br>
		
		$<%=item.current_price %><br>
		<% if user_signed_in? %>
			<%= form_for @bid do |f| %>
				<%=f.text_field :bid %>
				<input type='hidden' id='bid_user_id' name='bid[user_id]' value="<%= current_user.id %>">
				<input type='hidden' id='bid_item_id' name='bid[item_id]' value="<%= item.id %>">
				<%= f.submit 'Bid' %>
			<% end %>
		<% end %>
	</p>
</div>
<% end %>
</div>
</div>
