
<h3>Select a Category</h3>

<form method="get">
<select class="form-control" name="category_id" onchange="this.form.submit()">
  <% @categories.each do |category| %>
  	 <option value="<%=category.id %>"><%=category.name %></option>
   <% end %>
</select>
</form>


<% count=0 %>
<% @items.each do |item| %>
	<% if item.category_id == params[:category_id].to_i %>
		<% if count%4==0 %>
			<div class="row">
		<%end %>
		<div class="span3">
			<%= image_tag item.item_images[0].image(:medium) %><br>
			<%= item.description %><br>
			<%= item.city %><br>
			<%= item.starting_price %><br>
			<%= form_for @bid do |f| %>
				<%= f.label :bid %>
				<%=f.text_field :bid %>
				<% f.submit %>
			<% end %>
		</div>

		</div>
		<% if count%4==3 %>
			</div>
		<%end %>
		<% count +=1 %>
	<%end%>
<%end %>
